// COLORS
$color-black: #000;
$color-white : #fff;

$color-nav: #383e4c;

$color-grey-light-1: #E6E6E6;
$color-grey-light-2: #F2F2F2;
$color-gery-light-3: #49505F;

$color-grey-dark-1: #49505F;
$color-grey-dark-2: #646d7c;
$color-grey-dark-3: #333;
$color-grey-dark-4: #666;
$color-grey-dark-5: #999;

$color-green-light: #449D44;
$color-green-dark: #178A27;

$color-blue-light: #31B0D5;
$color-blue-dark: #1686C1;
$color-blue-dark-2: #23527c;

$color-red-light: #C9302C;
$color-red-dark: #c11616;
$color-red-dark-2: #852406;
// GRID

$grid-width: 114rem;
$gutter-horizontal: 3rem;