.footer {
    padding: 3rem 0;
    text-align: center;
    font-style: italic;
    color: $color-grey-dark-5;

    &__heading--primary {
        color: $color-grey-dark-4;
        text-shadow: none;
    }

    &__content {

    }
    
    &__text {
        padding: 2.3rem;
        margin: 0 auto;
    }

    &__copy {
        padding-top: 3rem;
        font-size: 1.2rem;
        font-style: normal;
        border-top: 1px solid #eee;
    }

    &__link {
        text-decoration: none;
    }
}