.navigation {
    height: 7.8rem;
    width: 100%;
    background-color: $color-nav;
    font-size: 2rem;
    position: fixed;
    z-index: 1000;
    
    &__list {
        position: absolute;
        list-style: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        display: inline-block;



        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            border: 1px solid $color-grey-dark-2;
            padding: 1.5rem 2.5rem;
            text-decoration: none;
            color: $color-white;
            text-transform: capitalize;
            transition: all .3s;
        }

        &:hover,
        &:active {        
            background-color: $color-grey-dark-1;
        }
    }
}