.u-margin-bottom-tiny { margin-bottom: 3rem!important ; }
.u-margin-bottom-small { margin-bottom: 4rem!important; }
.u-margin-bottom-medium { margin-bottom: 6rem!important; }

.u-white-text { color: $color-white!important; }
.u-green-text { color: $color-green-dark!important; }
.u-blue-text { color: $color-blue-dark!important; }
.u-red-text { color: $color-red-dark!important; }
.u-center-text { text-align:  center!important; }

.u-current { background-color: $color-gery-light-3; }